# Visual Studio temporary files, build results, and user-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
[Bb]in/
[Oo]bj/
.vs/
Images/
Properties/
# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.htm
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.svclog
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# Guidance Automation Toolkit
*.gpState

# ReSharper is a .NET coding add-in
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Click-Once directory
publish/

# Publish Web Output
*.Publish.xml
*.pubxml
*.azurePubxml

# NuGet Packages Directory
## If you have NuGet Package Restore enabled, uncomment the next line
# packages/
## If the tool you use requires repositories.config, also uncomment the next line
# ! packages/repositories.config

# JetBrains Rider
.idea/
*.sln.iml

# Exclude appsettings files (if applicable, for configuration)
**/appsettings*.json
# Exclude launchSettings files (if applicable, for configuration)
**/launchSettings*.json